html {
    position: relative;
    min-height: 100%;
}

.logo {
    background-image: url(../Images/logo.png);
    background-size: cover;
    width: 120px;
    height: 35px;
}

.icon {
    width: 28px;
    height: 28px;
}

nav {
    width: 100%;
    background: black;
    padding: 0 25px;
}

/* classe pour le fond d'écran de l'accueil principal  */
.masthead {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #000000 100%), url(../Images/ban.png);
    background-size: cover;
}
/* fin header */

/* body */
.main {
    background: no-repeat url(../Images/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    text-align: justify;
}

.bg-black {
    background-color: black;
}

.row {
    margin: 0 1%;
}
/* fin body */

