table {
	border-collapse: collapse;
}

td {
	border: solid 1px black;				
	display: table-cell;
	width: 50px;
	height: 50px;
	text-align: center;
}

#pions{
	margin:20px;
}
#pions tr:hoover{
	background-color:red;
}