table {
	border-collapse: collapse;
}

td {
	border: solid 1px black;				
	display: table-cell;
	width: 50px;
	height: 50px;
	text-align: center;
}

#pions{
	margin:20px;
}

table{
	border-collapse: collapse;
}

td{

	width: 100px;
	height: 100px;
	border : 1px solid black;
	border-collapse: collapse;
	padding: 0px;
}
.hide {
	display: none;
}

.drag-over{
	background: #339933;
	opacity: 70%;
}


img{

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
