td {
	border: solid 1px black;
	display: table-cell;
	text-align: center;

	width: 70px;
	height: 70px;
	border-collapse: collapse;
}

.hide {
	display: none;
}

.drag-over {
	background: white;
	opacity: 50%;
}

img{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#tableauStratego {
	background : center / contain no-repeat url(../Images/board.svg),
			#eee 100% url(../Images/board-no-trees.svg);
}



#pions {
	margin:20px;
}

#tableauPionsJ1 {
	height:100%;
	display:inline-block;
}

#tableauPionsJ2 {
	height:100%;
	display:inline-block;
}

#tableauPionsJ2 td {
	width: 340px;

}
#tableauPionsJ1 td {
	width: 340px;

}

#annonceur p {
	align-items:center;
}

#voirTableauDesPieces:hover {
	background:green;
}

#grilleCommune:hover {
	background:red;
}

#ready {
	height:40px;
	width:130px;
}

#aleatoire {
	height:60px;
	width:130px;
}

.submit-btn {
	display: inline-block;
	background-color: #000;
	background-image: linear-gradient(125deg, #A91C29,#0062c5);
	color: #b7b7b7;
	text-transform: uppercase;
	letter-spacing: .2px;
	font-size: 12px;
	padding: 8px 2px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}

.center {
	position: relative;
	margin-left: 50%;
	transform: translateX(-50%);
}