td {
	border: solid 1px black;
	display: table-cell;
	text-align: center;

	width: 70px;
	height: 70px;
	border-collapse: collapse;
}

.hide {
	display: none;
}

.drag-over {
	background: #339933;
	opacity: 70%;
}

im{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.plateauStratego {
	/*background: no-repeat url(../Images/board.png);*/
	background : center / contain no-repeat url(../Images/board.svg),
			#eee 100% url(../Images/board-no-trees.svg);
}

#pions {
	margin:20px;
}

#tableauPionsJ1 {
	height:100%;
	display:inline-block;
}

#tableauPionsJ2 {
	height:100%;
	display:inline-block;
}

#annonceur p {
	align-items:center;
}

#voirTableauDesPieces:hover {
	background:green;
}

#grilleCommune:hover {
	background:red;
}

#ready {
	height:40px;
	width:100px;
}